html body
{
	height: 100%;
	background: url("img/taverna-bg.jpg");
}

.logo
{
	text-indent: -9999px;
	display: block;
	background: url("img/taverna-logo.png");
	width: 672px;
	height: 276px;
	position: absolute;
	left: 50%;
	margin-left: -336px;
	top: 25%;
}