/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html
{
    height: 100%;
}

body
{
    height: 100%;
}



html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.animado-02-in-out
{
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.animado-04-in-out
{
    -webkit-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    -ms-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.animado-06-in-out
{
    -webkit-transition: 0.6s all ease-in-out;
    -moz-transition: 0.6s all ease-in-out;
    -o-transition: 0.6s all ease-in-out;
    -ms-transition: 0.6s all ease-in-out;
    transition: 0.6s all ease-in-out;
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




@font-face{
    font-family: "Luna";
    src: url(fonts/Luna.ttf) format("truetype");
}

@font-face{
    font-family: "Tarzana";
    src: url(fonts/TARNAREG.ttf) format("truetype");
}


@font-face{
    font-family: "TarzanaB";
    src: url(fonts/TARNABOL.ttf) format("truetype");
}

@font-face{
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "OpenSansL";
    src: url(fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face{
    font-family: "OpenSansSB";
    src: url(fonts/OpenSans-Semibold.ttf) format("truetype");
}


@-webkit-keyframes sobe-desce {
  0%    { bottom: 11px; }
  50%   { bottom: 20px; }
  100%  { bottom: 11px; }
}
@-moz-keyframes sobe-desce {
  0%    { bottom: 11px; }
  50%   { bottom: 20px; }
  100%  { bottom: 11px; }
}
@-o-keyframes sobe-desce {
  0%    { bottom: 11px; }
  50%   { bottom: 20px; }
  100%  { bottom: 11px; }
}
@keyframes sobe-desce {
  0%    { bottom: 11px; }
  50%   { bottom: 20px; }
  100%  { bottom: 11px; }
}


html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6
{
    font-family: "TarzanaB", "Browallia New", sans-serif;
    color: #0095da;
    font-size: 30px;
}

p
{
    font-family: "OpenSansL", sans-serif;
    font-size: 16px;
    color: #666666;
}


blockquote
{
    font-family: Luna;
    font-size: 26px;
    color: #999999;
    border: none !important;
    line-height: 39px;
    margin: 0 !important;
}


.menu
{
    font-family: "TarzanaB", "Browallia New", sans-serif;
    font-size: 20px;
    color: white;
}


.figcaption
{
    width: 417px;
    padding-left: 33px;
    background: url(img/hi-bg-img-home.png);
}

.figcaption h2
{
    color: white;
    font-size: 34px;
}

.figcaption h3
{
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.figcaption p
{
    font-family: "OpenSans", sans-serif;
    color: white;
}


.radius
{
    border-radius: 0 0 3px 0;
}

.radius-left
{
    border-radius: 3px 0 0 3px;
}


.address
{
    width: 254px;
    height: 254px;
    display: inline-block;
    background: url(img/hi-bg-white-ball-footer.png);
}

.address p
{
    font-family: "OpenSans", sans-serif;
    padding-top: 127px;
    line-height: 23px;
    color: #ed1c24;
}

.address span
{
    line-height: 35px;
}


.icone-fale
{
    width: 276px;
    height: 56px;
    display: block;
    margin: 64px auto 73px auto;
}

.icone-fale:hover
{
    text-decoration: none;
}

.icone-fale i
{
    width: 72px;
    height: 56px;
    float: left;
    background: #760e12;
    display: inline-block;
}

.icone-fale i img
{
    margin-top: 8px;
}

.icone-fale p
{
    width: 204px;
    height: 56px;
    float: left;
    display: inline-block;
    font-family: "TarzanaB", "Browallia New", sans-serif;
    text-transform: uppercase;
    line-height: 56px;
    font-size: 24px;
    color: #ed1c24;
    background: white;
    margin: 0;
}


.ver-mais-red,
.ver-mais-white
{
    width: 125px;
    height: 34px;
    text-align: center;
    display: block;
}

.ver-mais-red i,
.ver-mais-white i,
.ver-mais-red p,
.ver-mais-white p
{
    height: 34px;
    display: inline-block;
    float: left;
}

.ver-mais-red i,
.ver-mais-white i
{
    width: 54px;
    background: url(img/hi-icon-ver-mais.png) center no-repeat #be161d;
}

.ver-mais-red p,
.ver-mais-white p
{
    width: 71px !important;
    height: 34px;
    font-family: "Tarzana", "Browallia New", sans-serif;
    background: #ed1c24;
    line-height: 30px !important;
    font-size: 18px;
    color: white;
    margin-left: 0 !important;
}

.ver-mais-white i
{
    background-color: #620e11;
}

.ver-mais-white p
{
    background: white;
    color: #ed1c24 !important;
}






/*---------------------------HEADER----------------------------*/

#header
{
    background: url('img/hi-fundo-header.jpg');
    height: 120px;
}

#header #bg-logo
{
    background: #0095da;
}

#header #logo
{
    padding: 23px 0 22px 20px;
    width: 218px;
    height: 75px;
    text-indent: -9999px;
    background: url(img/hi-logo-branca.png) no-repeat center;
    float: left;

}

#header #menu
{
    background: #0086c4;
    height: 120px;
}

#header #menu ul
{
    float: right;
    margin: 0;
}

#header #menu ul li
{
    float: left;
    display: inline-block;
    height: 117px;
}

#header #menu ul li:hover
{
    border-bottom: 3px solid white;
    background-color: #0095da;
}

#header #menu ul li a
{
    display: inline-block;
    color: white;
    padding: 60px 30px 50px 30px;
}

#header #menu ul li a:hover
{
    text-decoration: none;
}

/*------------------------Fim Header------------------------*/


#hightouch
{
    height: 100%;
}


#hightouch #section-case-home
{
    height: 100%;
}

#hightouch #wrap-case-home
{
    padding: 0 !important;
    height: 100%;
}

#hightouch #wrap-case-home .row-fluid
{
    height: 100%;
}

#hightouch #wrap-case-home ul
{
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#hightouch #wrap-case-home ul li
{
    height: 100%;
    width: 100%;
    float: left;
}

#hightouch #wrap-case-home #img-case
{
    width: 100%;
    height: 100%;
    background: url(img/hi-img-encontro-leonardo.jpg) no-repeat center 69px black;
    background-size: cover;
}

#hightouch #wrap-case-home #img-case #mascara-azul,
#hightouch #wrap-case-principal #img-case #mascara-azul
{
    width: 100%;
    height: 100%;
    background: url(img/hi-mascara-azul-home.png);
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada
{
    width: 100%;
    height: 100%;
    background: url(img/hi-mascara-granulada-home.png);
    position: relative;
}


#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img
{
    padding-top: 220px;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img h2
{
    padding: 5px 20px 5px 33px;
    background: red;
    display: inline-block;
    font-size: 26px;
    color: white;
    float: left;
    margin: 0;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img button
{
    background: #be161d;
    width: 45px;
    height: 50px;
    border: none;
    display: inline-block;
    float: left;
    padding-left: 10px;
    cursor: pointer;
    display: block;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img button:hover
{
    background: #9C0A10;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img button:hover i
{
    margin-top: -2px;
    display: block;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img button:active i
{
    margin-top: 2px;
    display: block;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada #title-img #btn-right
{
    padding-left: 0px;
    padding-right: 8px;

}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada .figcaption
{
    height: 200px;
    margin-top: 60px;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada .figcaption h2
{
    padding-top: 10px;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada .figcaption p
{
    margin-bottom: 15px;
}

#hightouch #wrap-case-home #img-case #mascara-azul #mascara-granulada span
{
    -webkit-animation: sobe-desce 2s infinite; /* Safari 4+ */
    -moz-animation:    sobe-desce 2s infinite; /* Fx 5+ */
    -o-animation:      sobe-desce 2s infinite; /* Opera 12+ */
    animation:         sobe-desce 2s infinite; /* IE 10+ */
    animation-timing-function: ease-in-out;

    width: 71px;
    height: 71px;
    display: block;
    background: url(img/hi-icon-role-ball.png);
    position: absolute;
    bottom: 11px;
    left: 50%;
    margin-left: -35px;
    font-family: "Tarzana", "Browallia New", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 53px;
}

/*--------------------------Fim Case Home--------------------------*/



#hightouch #wrap-solucoes-home
{
    text-align: center;
    padding-top: 70px;
    background: white;
    z-index: 2;
    position: relative;
}

#hightouch #wrap-solucoes-home h2
{
    text-transform: uppercase;
    font-size: 26px;
    background: url(img/hi-bg-titulo-solucoes.png) no-repeat center;
}


#hightouch #wrap-solucoes-home article
{
    height: 350px;
    margin-top: 55px;
}

#hightouch #wrap-solucoes-home article:hover figure
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#hightouch #wrap-solucoes-home article figure
{
    padding-top: 20px;
}


/*---------------------Fim Soluções Home---------------------*/



#hightouch #wrap-conheca-nos
{
    height: 452px;
    background: url(img/hi-bg-conheca-nos.png) center top;
    text-align: left;
    position: relative;
    z-index: 10;
}


#hightouch #wrap-conheca-nos .row-fluid
{
    margin-top: 110px;
}

#hightouch #wrap-conheca-nos img
{
    float: right;
}

#hightouch #wrap-conheca-nos p
{
    font-family: "OpenSans", sans-serif;
    color: #ebbaba;
    position: relative;
    margin-top: 47px;
    line-height: 25px;
}

#hightouch #wrap-conheca-nos p:before,
#hightouch #wrap-conheca-nos p:after
{
    content: " ";
    width: 22px;
    height: 18px;
    display: block;
    background: url(img/hi-icon-aspas-left.png);
    position: absolute;
    left: -32px;
    top: -2px;
}

#hightouch #wrap-conheca-nos p:after
{
    background: url(img/hi-icon-aspas-right.png);
    left: auto;
    top: auto;
    right: -32px;
    bottom: 5px;
}

#hightouch #wrap-conheca-nos a
{
    font-family: "Tarzana", "Browallia New", sans-serif;
    padding: 10px 10px 10px 0;
    font-size: 26px;
    color: white;
    text-decoration: none;
    display: block;
}

#hightouch #wrap-conheca-nos a:hover
{
    padding: 5px 10px 15px 0;
}


/*-----------------------Fim Wrap Conheça-nos-----------------------*/



#hightouch #wrap-case-principal
{
    height: 515px;
    padding: 0;
    margin-top: 110px;
}

#hightouch #wrap-case-principal #img-case 
{
    height: 505px;
    background: url(img/hi-img-encontro-leonardo-cases.jpg) no-repeat top center;
}

#hightouch #wrap-case-principal #img-case .figcaption
{
    height: 100%;
}

#hightouch #wrap-case-principal #img-case .figcaption h2
{
    font-size: 44px;
    font-family: "Tarzana", "Browallia New", sans-serif;
    padding-top: 45px;
    font-weight: normal;
}

#hightouch #wrap-case-principal #img-case .figcaption p
{
    width: 400px;
    line-height: 23px;
    margin-bottom: 60px;
}

/*--------------------------------Fim Case principal--------------------------------*/


#hightouch #wrap-topo-case
{
    height: 340px;
}

#hightouch #wrap-topo-case .row-fluid
{
    margin-top: 99px;
}

#hightouch #wrap-topo-case figure
{
    margin: 0;
}

#hightouch #wrap-topo-case img
{
    width: 138px;
    height: 138px;
    float: right;
    display: inline-block;
}

#hightouch #wrap-topo-case p
{
    margin-top: 44px;
    line-height: 25px;
}

/*--------------------------------Fim Wrap Topo Case--------------------------------*/


#hightouch #wrap-case
{
    padding: 0;
}

#hightouch #wrap-case #grade-cases
{
    padding: 0 !important;
    margin: 0 !important;

}

#hightouch #wrap-case #grade-cases
{
    width: 100%;
    background: url(img/hi-bg-cases.jpg);
}

#hightouch #wrap-case #grade-cases li
{
    width: 33% !important;
    height: 407px;
    margin: 3px 0.15%;
    position: relative;
}

#hightouch #wrap-case #grade-cases li h2,
#hightouch #wrap-case #grade-cases li h3
{
    margin: 24px 0 30px 33px;
    font-family: "Tarzana", "Browallia New", sans-serif;
    font-size: 46px;
    color: #a1a1a1;
    font-weight: normal;
}

#hightouch #wrap-case #grade-cases li h2
{
    width: 330px;
    color: white;
    margin-bottom: 25px;
}

#hightouch #wrap-case #grade-cases li p
{
    width: 395px;
    color: #f1d6d7;
    margin-left: 33px;
    line-height: 24px;
}

#hightouch #wrap-case #grade-cases li .ver-mais-white
{
    margin-left: 33px;
    margin-top: 33px;
}

#hightouch #wrap-case #grade-cases li .case-normal,
#hightouch #wrap-case #grade-cases li .case-hover
{
    height: 407px;
    background: url(img/hi-bg-cases.png);
    padding-top: 0.1px;
}

#hightouch #wrap-case #grade-cases li .case-normal figure,
#hightouch #wrap-case #grade-cases li .case-normal .img-logo
{
    width: 301px;
    height: 95px;
}

#hightouch #wrap-case #grade-cases li .case-normal figure
{
    height: 313px;
    margin: 0 auto;
}

#hightouch #wrap-case #grade-cases li .case-normal .img-logo
{
    top: 40%;
    position: absolute;
}


#hightouch #wrap-case #grade-cases li .tag-social
{
    width: 107px;
    height: 107px;
    display: block;
    background: url(img/hi-tag-social.png) no-repeat top center;
    position: absolute;
    top: 3px;
    right: 3px;
}


#hightouch #wrap-case #grade-cases li .case-hover
{
    background: url(img/hi-bg-cases-hover.png);
    display: none;
}

#hightouch #wrap-case #grade-cases li .case-hover h3
{
    color: #eabcbd;
}



#hightouch #wrap-case #grade-cases li:hover .case-normal
{
    display: none;
}

#hightouch #wrap-case #grade-cases li:hover .case-hover
{
    display: block;
}

#hightouch #wrap-case #grade-cases li:hover .tag-social
{
    background-position: bottom center;
}



#hightouch #wrap-case .bg-fim-cases
{
    height: 12px;
    display: block;
    position: relative;
    background: url(img/hi-bg-seta-fim-case.png) center;
}



/*-------------------------Fim Cases-------------------------*/

















#footer
{
    height: 529px;
    background: url(img/hi-bg-map-footer-red.jpg) center top;
    text-align: center;
    margin-top: -12px;
}

#footer-home
{
    height: 510px;
    background: url(img/hi-bg-map-footer.jpg) center top;
    margin-top: -12px;
    text-align: center;
    position: relative;
}

#footer-home .address
{
    background: url(img/hi-bg-azul-ball-footer.png);
    margin-top: 110px;
}

#footer-home .address p
{
    color: white;
}
